<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{hh:mm:ss} %5p [%c] %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="INFO" additivity="false">
            <appender-ref ref="console" />
        </Logger>
        <Logger name="org.raccoon" level="INFO" additivity="false">
            <appender-ref ref="console" />
        </Logger>
        <root level="INFO" additivity="false">
            <appender-ref ref="console" />
        </root>
    </Loggers>
</Configuration>